<mat-card class="mt-5">
  <mat-card-title>Register</mat-card-title>
  <form [formGroup]="registerForm">
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error *ngIf="!registerForm.controls.email.valid">Invalid Email</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="!registerForm.controls.name.valid">Name required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Enter your group name</mat-label>
        <input matInput placeholder="Group Name" formControlName="groupName" required>
        <mat-error *ngIf="!registerForm.controls.groupName.valid">Group Name required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <button mat-raised-button class="w-100 b-green" (click)="clear()">Clear</button>
      </div>
      <div class="col-6">
        <button mat-raised-button color="warn" [disabled]="!registerForm.valid" (click)="register()" class="w-100">Register</button>
      </div>
    </div>
  </form>
</mat-card>